<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
  </head>
  <body>
    <h2>All Posts</h2>
    {% for post in posts %}
        <h3>{{ post.title }}</h3>
        <p>{{ post.content }}</p>
        <a href="{% url 'create' %}">Create Post</a>
        <a href="{% url 'edit' post.id %}">Edit</a>
        <a href="{% url 'delete' post.id %}">Delete</a>
        <hr>
    {% empty %}
       <p>No Post Yet</p>
     
    {% endfor %} 
    
   
  </body>
</html>
